#root {
  max-width: 2400px;
  margin: 0 auto;
  font-family: Avenir, system-ui, Inter, Helvetica, Arial, sans-serif;
  background-color: transparent;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
