#root {
  margin: 0 auto;
  font-family: Avenir, Poppins, system-ui, Inter, Helvetica, Arial, sans-serif;
  background-color: transparent;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

[data-mantine-color-scheme="light"] .m-436178ff {
  --_item-border-color: #999 !important;
}
[data-mantine-color-scheme="dark"] .m-436178ff {
  --_item-border-color: #927c4e !important;
}

.m-436178ff {
}

html {
  scroll-behavior: smooth;
}
