@import "@mantine/dropzone/styles.css";
@import "@mantine/dates/styles.css";
/* Mantine core */
@import "@mantine/core/styles.css";

@layer {
  @tailwind base;
}

@tailwind components;
@tailwind utilities;
.glass {
  background: rgba(255, 255, 255, 0.34);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  -webkit-backdrop-filter: blur(9.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
